# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.idea
DATA/
DATA
runs
source.docx

# # PyTorch/Models
*.pth
*.pt

# Datasets (Large folders)
dataset_full_yolo/
dataset_corrected/
cghd_raw/
cghd1152/
runs/

epoch_40.pt

# Images
*.png
*.jpg
*.jpeg
*.tex
for_report
*.svg
*.bib
*.sty
for_report/
**/for_report/
*.json
*.cir
*.webp
*.cir
.json
.log
*.log
*.svg

*.txt
.txt
.context
.context/
WebD/backend/workspace/simulations/circuit.cir
WebD/backend/workspace/simulations/sim_out.txt
WebD/backend/workspace/simulations/circuit.cir
WebD/backend/workspace/simulations/sim_out.txt

python_web_browser
python_web_browser/
python_web_browser/*

DATA/
DATA
DATA/*

old_models
old_models/

test_files
test_files/

detected_components.json
source_classifier_massive.pt

final_year_report
final_year_report/
final_year_report/*
WebD/backend/workspace/latest_detection.json

